<label for="">server Name</label>

<!-- event Binding -->
<!-- <input
  type="text"
  class="form-control"
  (input)="onupdateserver($event)"
  name=""
  id=""
/> -->

<!-- Two way Databinding -->
<input type="text" class="form-control" [(ngModel)]="servername" />
<br />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<br />
<p>the server {{ servername }} is created</p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
